include README.md
include distribute_setup.py
include requirements.txt
include glastopf/sandbox/Makefile
recursive-include glastopf *.*
recursive-exclude glastopf *.pyc
recursive-exclude glastopf/testing *.*
