gevent>=1.0
webob>=1.2.0
pyopenssl
chardet
lxml
sqlalchemy>=0.8.0
jinja2
beautifulsoup>=3.2.0
requests>=1.0.0
cssselect>=0.7.0
pymongo>=2.4
MySQL-python
hpfeeds
pylibinjection
libtaxii>=1.1
python-logstash
botocore
urllib3==1.23