<html>

    <head>
        <title>{% block title %}Title{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div id="container" style="width: 800px; margin: 30px auto;">
            <h1 style="text-align: center;">{% block page_title %}Title{% endblock %}</h1>

            <hr />

            <form action="{% block form_url %}/{% endblock %}" method="post" class="niceform">
                <h2>{% block form_title %}Login Form{% endblock %}</h2>
                <div id="login_msg">{% block login_msg %}Please fill in your credentials{% endblock %}</div>
                <label for="login">Login:</label>
                <input type="text" name="login" id="login" size="32" />
                <br />
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" size="32" />
                <br />
                <input type="submit" name="submit" id="submit_login" value="Submit" />
            </form>

            <hr />

            <h2>{% block resource_title %}My Resource{% endblock %}</h2>
            <p>{% block bodystr %}{% endblock %}</p>

            <hr />

            <form action="comments" method="POST" class="niceform">
                <h2>{% block comments_title %}Blog Comments{% endblock %}</h2>
                <label for="comment">Please post your comments for the blog</label>
                <br />
                <textarea name="comment" id="comment" rows="4" columns="300"></textarea>
                <br />
                <input type="submit" name="submit" id="submit_comment" value="Submit" />
            </form>

            <hr />

            <div id="comments">{% block comments %}This is a really great entry{% endblock %}</div>

            <hr />

            <div id="footer">{% block footer %}Footer{% endblock %}</div>
        </div>
    </body>
</html>